body {
    background-color: dodgerblue;
}


h1, h2, h3, h4, h5, h6, p, a {
    color: white;
    font-family: "Signika Negative", sans-serif;
}

.projImg {
    width:100%;
    height:auto;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.2s;
    margin:10px;
}

.projImg:hover {
    transform: scale(1.03);
}